<<<<<<< HEAD
p{
    background-attachment:fixed;
    background-color: red;
    background-repeat: repeat;
    background-size: contain;
}
=======
p{
    background-attachment:fixed;
    background-color: red;
    background-repeat: repeat;
    background-size: contain;
}
>>>>>>> d8e5a739ab537013b7bb71940bc9b944315b5d84
