 /*p{
    background-attachment:fixed;
    background-color: #7aff00;
    background-repeat: fixed;
    background-size: contain;
    padding:auto ;
    width: 70%;
    margin :auto;
    border-width: 1px 2px 1px;
    border-style: solid; 
    border-color: red;
    outline: 3px solid black;
    display: inline-block;
} */   
.hidden{
    visibility: hidden;
}
/* 
three types of display 
block respect height width padding margin
inline does not respect height or width 
respect padding and margin from left and right 
inline-block respect height width padding margin 
 */
 /* 
 display:none won't leave its space reserved for the element 
 visibility:hidden would leave its space reserved for the element when it's invisible 
 
.one,
.two,
.three,
.four{
    padding: 10px;
    margin bottom: 10px;
    background-color: #EEEE;
    overflow: auto;
}
.one{
    color: red;
    font-family: cursive;
    border-bottom: 2px solid red;
}
.two{
    color: green;
    font-family: times new roman;
    border-bottom: 2px solid green;
}
.three{
    ccolor: blue;
    font-family: italic;
    border-bottom: 2px solid blue;
}
.four{
    color: black;
    border-bottom: 1px solid black;
    font-family: Courier New;
}*/

div .special {
    color:  green;
    border-bottom: 2px solid red;
    margin-right: 75%;
}
.name{
    background-color: red;width: fit-content;
    word-spacing: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    word-break: break-all;
}

